<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <style>
        a
        {
            display:block;
        }
    </style>
</head>
<body>
    <a href="http://daikincity.lan/#conveniencestore">http://daikincity.lan/#conveniencestore</a> 
    <a href="http://daikincity.lan/#hotel-hotelgroundfloor">http://daikincity.lan/#hotel-hotelgroundfloor</a> 
    <a href="http://daikincity.lan/#hotel-hotelfirstfloor">http://daikincity.lan/#hotel-hotelfirstfloor</a> 
    <a href="http://daikincity.lan/#hotel-hotelroom">http://daikincity.lan/#hotel-hotelroom</a> 
    <a href="http://daikincity.lan/#retailstore">http://daikincity.lan/#retailstore</a> 
    <a href="http://daikincity.lan/#restaurant">http://daikincity.lan/#restaurant</a> 
    <a href="http://daikincity.lan/#bank">http://daikincity.lan/#bank</a> 
    <a href="http://daikincity.lan/#office">http://daikincity.lan/#office</a> 
    <a href="http://daikincity.lan/#school">http://daikincity.lan/#school</a> 
    <a href="http://daikincity.lan/#library">http://daikincity.lan/#library</a> 
    <a href="http://daikincity.lan/#broadcastcentre">http://daikincity.lan/#broadcastcentre</a> 
    <a href="http://daikincity.lan/#projectoffice">http://daikincity.lan/#projectoffice</a> 
    <a href="http://daikincity.lan/#trainingcenter">http://daikincity.lan/#trainingcenter</a> 
    <a href="http://daikincity.lan/#warehouse">http://daikincity.lan/#warehouse</a> 
    <a href="http://daikincity.lan/#dchq">http://daikincity.lan/#dchq</a> 
    <a href="http://daikincity.lan/#residence">http://daikincity.lan/#residence</a> 
</body>
</html>
