<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Daikin City - Terms &amp; Conditions</title>
    <script type="text/javascript" src="//use.typekit.net/dnz0bzd.js"></script>
    <script type="text/javascript">try { Typekit.load(); } catch (e) { }</script>
<style>
    body, html
    {
        width:100%;
        height:100%;
        color:#2E3641;
        background-color:#FFF;
        margin:0;
        padding:0;
        font-family: "museo-sans", sans-serif;

    }

    #terms
    {
        text-align:center;
        width: 80%;
        margin: 0 auto;
    }

    h1, h2
    {
        color:#00A1E4;
    }

    a
    {
        color: #09C;
        text-decoration: none;
    }
</style>
</head>
<body>
<div id="terms">
  <h1>Terms and Conditions</h1>
  <p>&nbsp;</p>
  <h2>Calculation Method</h2>
  <p>All figures  shown are for guidance purpose only. Energy saving figures are based on various  assumptions of system configurations, building profile, design and usage.  Results may differ to those for the users&rsquo; actual project or installation.</p>
  <p>Users agree  to utilise this data as a guidance tool for comparison purposes only. Accurate  data would only be possible with a full survey and energy usage analysis. For  full details on our current product range and possible solutions please contact  your local sales office</p>
  <p>&nbsp;</p>
<h2>Software Licence Agreement</h2>
    Under  copyright law you are permitted to install or run the software product  (&quot;the Software&quot;) supplied to you with the permission of Daikin  Airconditioning UK Ltd (&ldquo;the Owner&rdquo;) in whom copyright and title remains  vested.  In consideration of your  agreement to the terms the Owner grant you, the user, a non-exclusive right  (&quot;the Licence&quot;) to install and run the Software as permitted by  normal use, excluding any alteration, adaptation, modification, or  reverse-engineering.</p>
  <p>The Owner  makes and you receive no other warranties, conditions or representations,  express or implied, statutory or otherwise, and without limitation the implied  terms of satisfactory quality and fitness for a particular purpose are  excluded.  The Owner does not warrant  that the operation of the Software will be error free or uninterrupted.  It is your responsibility to ensure that the  Software is suitable for your needs and the entire risk as to the performance  and results of the Software is assumed by you.</p>
  <p>In no event  will either the Owner be liable for any direct, indirect, consequential,  incidental or special damage or loss of any kind (including without limitation  loss of profits, loss of contracts, business interruptions, loss of or  corruption to data) however caused and whether arising under contract, tort  (including negligence), or otherwise;</p>
  <p>&nbsp;</p>
  <p><a href="javascript:window.close();">Close Window</a></p>
  <p>&nbsp;</p>
</div>
</body>
</html>
