
@{
    Layout = null;
    //ViewBag.Title = "Term Of Service";
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come

    *after* these tags -->
    <title>BIM - End User License Agreement</title>
    <style>
        html, body {
            margin: 0 30px 30px 30px;
        }

        .header {
            font-size: 20px;
            font-weight: 900;
        }

        .logo {
            width: 25%;
            height: 25%;
        }

        .accept-form {
            padding-right: 60px;
            padding-top: 20px;
        }

        .terms {
            width: 95%;
            height: 700px;
            overflow: scroll;
        }
    </style>
    <script src="/Scripts/jquery-1.9.1.min.js"></script>

    <!-- Latest compiled CSS -->
    <link rel="stylesheet" href="/Content/bootstrap.css">

    <!-- Optional theme -->
    @*<link rel="stylesheet" href="/Content/bootstrap-theme.css">*@

    <!-- Latest compiled and minified JavaScript -->
    <script src="/Scripts/bootstrap.min.js"></script>
</head>



<body>
    <div class="container">
        <div>
            <img class="hidden-xs logo" src="~/Images/DaikinAIlogo.png" />
            <img class="visible-xs img-responsive" src="~/Images/DaikinAIlogo.png" />
        </div>
        <div class="terms col-m-12">
            <h1 class="header">
                END USER LICENSE AGREEMENT
            </h1>
            <p>
                YOUR ACCESS TO AND USE OF THE DAIKIN WEB SITE IS SUBJECT TO THE TERMS AND

                CONDITIONS BELOW

                ("TERMS") AND ALL APPLICABLE LAWS. BY VISITING THE DAIKIN WEB SITE, YOU ACCEPT

                THESE TERMS,

                INCLUDING OUR PRIVACY POLICY WITHOUT LIMITATION OR QUALIFICATION. THE PRIVACY

                POLICY, WHICH YOU

                MUST READ, CONTAINS IMPORTANT INFORMATION ABOUT THE USE OF YOUR PERSONAL DATA AND

                OTHER

                INFORMATION REGARDING YOUR PRIVACY. ACCORDINGLY, IF YOU DO NOT WISH TO BE BOUND

                BY THESE TERMS OR

                OUR PRIVACY POLICY, YOU SHOULD NOT VISIT THIS WEB SITE.
            </p>

            <h1 class="header">
                ABOUT US
            </h1>
            <p>
                Daikin North America LLC is headquartered at 5151 San Felipe, Suite 500, Houston,

                TX 77056. If

                you have any questions, complaints or comments regarding this Web site, you may

                contact us at

                daikincity@daikincomfort.com. When we say "we" or "us" or "Daikin" in these

                Terms, we mean Daikin

                North America LLC, our affiliates, and those agents we use to provide services on

                our behalf.
            </p>

            <h1 class="header">
                RELATIONSHIPS OF THIS AGREEMENT TO OTHER AGREEMENTS OR RELATIONSHIPS BETWEEN

                DAIKIN AND YOU
            </h1>
            <p>
                Nothing in these Terms shall alter the terms of any other agreement or other

                legal relationship

                between You and Daikin.
            </p>

            <h1 class="header">
                AUTHORIZED USE
            </h1>
            <p>
                You may use the Daikin Web site for your personal, informational, communication

                and educational

                use, but you may not use the Web site for any purpose other than your

                relationship with Daikin.

                You also may not use any robots, spiders, or other automatic devices to monitor

                or copy content

                on the Daikin Web site or otherwise attempt to interfere with the intended and

                efficient

                functioning of our Web site. You may not modify or tamper with any information

                contained on our

                Web site without the written permission of Daikin. You agree that you will not

                use the Daikin Web

                site in any way that may lead to the encouragement, procurement or carrying out

                of any criminal

                activity.
            </p>

            <h1 class="header">
                RULES AND GUIDES DOWNLOADS
            </h1>
            <p>
                Current Daikin approved printed versions of all Daikin CAD Files are available

                from Daikin.

                Current Daikin approved electronic versions of all CAD Files are most effectively

                accessed by

                establishing a hyperlink of your local Intranet directly to the Daikin CAD Files

                on the Daikin

                Website.
            </p>
            <p>
                The Daikin CAD Files are proprietary to Daikin and are the subject of

                intellectual property

                rights reserved by Daikin. Except for the permission granted below, nothing

                contained herein

                shall be construed as conferring upon you in any manner any license, title or

                ownership of or in

                any intellectual property right of Daikin.
            </p>
            <p>
                Daikin hereby grants you permission to download, copy and use, including posting

                to your Intranet

                site, the Daikin CAD Files posted on this Web site in electronic format.  You

                hereby agree that

                any copy of the materials, in part or in whole, that you make shall retain all

                copyright and

                other proprietary notices contained therein and that the information will not be

                altered in any

                manner.  You expressly agree that the files are solely for Your use and that you

                will not provide

                copies to anyone else.
            </p>
            <p>
                Daikin makes every reasonable effort to ensure that the information provided in

                the posted

                electronic files represents complete, current and accurate information. However,

                Daikin makes no

                representation as to the completeness, currency or accuracy of such information.
            </p>

            <h1 class="header">
                HYPERLINKS TO THE DAKIN WEB SITE
            </h1>
            <p>
                Daikin encourages the use of hyperlinks to its Web site upon agreement to all of

                the Terms

                herein.
            </p>

            <h1 class="header">
                INDEMNITY
            </h1>

            <p>
                You agree to indemnify and hold Daikin, and its officers, employees,

                representatives, contractors

                and agents ("Indemnified Parties") harmless from any liability, loss, claim and

                expense,

                including attorneys' fees and expenses, related to your violation of these Terms

                or your use of

                our Web site.  At Daikin's sole discretion, you agree to pay all attorney's fees

                associated with

                any action that is under this indemnity clause.
            </p>

            <h1 class="header">
                DISCLAIMER AND LIMITATION OF LIABILITY
            </h1>
            <p>
                While Daikin uses reasonable efforts to include accurate and up-to-date

                information on this Web

                site, Daikin makes no warranties or representations as to its accuracy, currency

                or completeness.

                Daikin assumes no liability or responsibility for any errors or omissions in the

                content on this

                Web site. TO THE EXTENT PERMITTED BY APPLICABLE LAW, EVERYTHING ON THE WEB SITE

                IS PROVIDED "AS

                IS" WITHOUT WARRANTY OF ANY KIND, EITHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT

                LIMITED TO, THE

                IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, OR NON-

                INFRINGEMENT. TO

                THE EXTENT PERMITTED BY APPLICABLE LAW, IN NO EVENT WILL DAIKIN BE LIABLE FOR ANY

                DAMAGES

                WHATSOEVER, INCLUDING SPECIAL, INDIRECT, CONSEQUENTIAL OR INCIDENTAL DAMAGES OR

                DAMAGES FOR LOSS

                OF PROFITS, REVENUE, USE, OR DATA, WHETHER BROUGHT IN CONTRACT OR TORT, ARISING

                OUT OF OR

                CONNECTED WITH THE WEB SITE OR THE USE OR RELIANCE UPON ANY OF THE CONTENT OR ANY

                INFORMATION

                ACCESSED FROM THE WEB SITE.
            </p>

            <h1 class="header">
                LEGAL
            </h1>
            <p>
                This Web site may contain other proprietary notices and copyright information,

                the terms of which

                must be observed and followed. Information on this Web site may contain technical

                inaccuracies or

                typographical errors. Information may be changed or updated without notice.

                Daikin may also make

                improvements and changes in the products and the programs described in this

                information at any

                time without notice.
            </p>
            <p>
                These commodities, technology or software may only be exported from the United

                States in

                accordance with the Export Administration Regulations (15 CFR 730-774).

                Diversion contrary to

                U.S. law is prohibited.
            </p>

            <h1 class="header">
                TRADEMARKS
            </h1>
            <p>
                Daikin Logo and Marks that may be included on or in the CAD files are registered

                trademarks of

                the Daikin. Daikin reserves the right to prohibit the use of logos which are

                unacceptable to

                Daikin in close proximity or association with the Daikin logo.
            </p>

            <h1 class="header">
                DIGITAL MILLENNIUM COPYRIGHT ACT
            </h1>
            <p>
                If you are a copyright owner or an agent thereof and believe that any content on

                this site

                infringes upon your copyrights, you may submit a notification pursuant to the

                Digital Millennium

                Copyright Act ("DMCA") by providing Daikin with the following information in

                writing (see 17

                U.S.C 512(c)(3) for further detail):
                <ul>
                    <li>
                        A physical or electronic signature of a person authorized to act on
                        behalf of the owner of an exclusive right that is allegedly infringed;
                    </li>
                    <li>
                        Identification of the copyrighted work claimed to have been infringed,
                        or, if multiple copyrighted works at a single online site are covered by a single notification, a
                        representative list of such works at that site;
                    </li>
                    <li>
                        Identification of the material that is claimed to be infringing or to be
                        the subject of infringing activity and that is to be removed or access to which is to be
                        disabled and information reasonably sufficient to permit the service provider to locate the
                        material;
                    </li>
                    <li>
                        Information reasonably sufficient to permit the service provider to
                        contact you, such as an address, telephone number, and, if available, an electronic mail;
                    </li>
                    <li>
                        A statement that you have a good faith belief that use of the material in the manner
                        complained of is not authorized by the copyright owner, its agent, or the law;
                        and
                    </li>
                    <li>
                        A statement that the information in the notification is accurate, and
                        under penalty of perjury, that you are authorized to act on behalf of the owner of an exclusive
                        right that is allegedly infringed.
                    </li>
                </ul>
            </p>
            <p>
                Daikin's designated Copyright Agent to receive notifications of claimed

                infringement is Attn:

                Associate General Counsel, 5151 San Felipe, Suite 500, Houston, TX 77056, email:

                mike.bryant@goodmanmfg.com. You acknowledge that if you fail to comply with all

                of the

                requirements of this Section entitled "DIGITAL MILLENNIUM COPYRIGHT ACT," your

                DMCA notice may

                not be valid.
            </p>

            <h1 class="header">
                GOVERNING LAW
            </h1>
            <p>
                By accessing this Web site and the information contained therein, you agree with

                Daikin that any

                claim you may have against Daikin in contract, tort or otherwise in respect of

                any information or

                advice expressly or impliedly given on this Web site, or in respect of any

                inaccuracy herein or

                omission herefrom, shall be governed by the law of the State of Texas, U.S.A.,

                without regard to

                its conflicts of laws rules.
            </p>
            <h1 class="header">
                DISPUTES
            </h1>
            <p>
                To the extent that there is not any another agreement that specifies a manner of

                dispute

                resolution between You and Daikin, a dispute relating to your use of the Daikin

                Web site shall be

                submitted to confidential arbitration in Houston, Texas, except that to the

                extent you have in

                any manner violated or threatened to violate our intellectual property rights,

                Daikin may seek

                injunctive or other appropriate relief in any state or federal court. You hereby

                consent to, and

                waive all defenses of lack of personal jurisdiction and forum non conveniens with

                respect to

                venue and jurisdiction in the state and federal courts of Texas. Arbitration

                under these Terms of

                Use shall be conducted pursuant to the Commercial Arbitration Rules then

                prevailing at the

                American Arbitration Association. The arbitrator's award shall be final and

                binding and may be

                entered as a judgment in any court of competent jurisdiction. To the fullest

                extent permitted by

                applicable law, no arbitration under these Terms of Use shall be joined to an

                arbitration

                involving any other party subject to this Agreement, whether through class action

                proceedings or

                otherwise. You agree that regardless of any statute or law to the contrary, any

                claim or cause of

                action arising out of, related to or connected with the use of the Daikin Web

                site or under these

                Terms of Use must be filed within one (1) year after such claim or cause of

                action arose or be

                forever waived.
            </p>
            <h1 class="header">
                SEVERABILITY
            </h1>
            <p>
                In the event that any provision contained in these Terms will be held to be

                invalid, illegal or

                unenforceable in any respect by a court of competent jurisdiction, the validity,

                legality and

                enforceability of such provision in every other respect and the validity,

                legality and

                enforceability of the remaining provisions contained in these Terms will not be

                in any way

                impaired thereby.
            </p>
            <h1 class="header">
                REVISION TO TERMS AND WEBSITE.
            </h1>
            <p>
                Daikin may change or update the information posted on the Daikin Web site, and

                the products and

                designs describer on the Daikin Web site, at any time without notice.
            </p>
        </div>
        <div class="accept-form col-m-12 pull-right">
            <form id="frmAccept">
                <button id="btnGo" class="btn btn-primary">I Accept</button>
            </form>
        </div>
    </div>


    <script type="text/javascript">

        var redirectUrl = '@(ViewBag.RedirectUrl)'
        
        $(document).ready(function () {
            $('#btnGo').click(function () {
                if (redirectUrl != null && redirectUrl != "") {
                    $(location).attr('href', redirectUrl);
                } else {
                    $(location).attr('href', 'http://bim.daikincity.com');
                }
                return false;
            });
        });

    </script>



</body>
</html>
