<div class="modal" id="quote_item_tags_modal" style="display: none;">
    <div>
        <input type="hidden" id="quote_item_edit_id"/>
        <input type="hidden" id="quote_item_edit_quote_id"/>
        <img src="~/Images/modal-close-btn.png" class="close-btn" />
        <h1>Update Quote Item Tags</h1>
        <p>Please enter your tags for this item (max 500 characters)</p>
        <textarea id="quote_item_tags_text" rows="4" maxlength="500"></textarea>
        <br/>
        <br/>
        <button type="button" class="btn cancel-btn">@ResourceUI.Cancel</button>
        <button type="button" class="submit-btn">Update</button>
    </div>
</div>

