<div class="modal" id="group_edit_modal" style="display: none;">
    <input type="hidden" id="editingGroupId" />
    <div style="width: 66%; margin-top: 100px;">
        <h1>Edit Group</h1>
        <br />
        <label class="required">Group Name</label>
        <input type="text" id="editingGroupName" style="width: 100%;" />

        <div class="section action c-align">
            <button type="button" class="btn cancel-btn">Cancel</button>
            <button type="button" class="submit-btn" id="groupEditSubmitBtn">Submit</button>
        </div>
    </div>
</div>

