<div class="modal" id="group_create_modal" style="display: none;">
    <input type="hidden" id="newGroupParentId"/>
    <div style="width: 66%; margin-top: 100px;">
        <h1>Create New Group</h1>
        <br/>
        <label class="required">New Group Name</label>
        <input type="text" id="newGroupName" style="width: 100%;"/>

        <div class="section action c-align">
            <button type="button" class="btn cancel-btn">Cancel</button>
            <button type="button" class="submit-btn" id="groupCreateSubmitBtn">Add</button>
        </div>
    </div>
</div>
