<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
    <!-- log4net config -->
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <connectionStrings>
    <!--<add name="live" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Gmcsql12\dctydb;initial catalog=dbDaikinProjectOfficeLive;User ID=DaikinAdmin;Password=Da1k1n20L4;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />-->
    <!--<add name="development" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=crmtest11sql;initial catalog=dbDaikinProjectOfficeTest;User ID=DaikinAdmin;Password=Da1k1n20L4;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />-->
    <!--<add name="development" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=Gmcsql12\dctydb;initial catalog=dbDaikinProjectOfficeLive;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />-->
    <add name="development" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=10.10.90.202;initial catalog=dbDaikinProjectOfficeStaging; Connection Timeout=120;App=EntityFramework&quot;" providerName="using System.Data.EntityClient;" />
  </connectionStrings>
  <appSettings>

    <!--Daikin configuration START-->
    <add key="dpo.sys.domain" value="development" />
    <add key="dpo.sys.data.cache.secs" value="5" />
    <add key="dpo.sys.data.import.daysfromtoday" value="-999" />
    <add key="dpo.setup.company.name" value="Daikin Industries" />
    <add key="dpo.setup.company.accountid" value="A111198" />
    <add key="dpo.setup.toplevel.groupid" value="100" />
    <add key="dpo.webservices.toplevel.groupname" value="gmccrm1" />
    <add key="dpo.webservices.endpoint" value="CRMTest" /> 
    <!--<add key="dpo.webservices.endpoint" value="CRMLive" />-->

    <add key="dpo.setup.superuser.username" value="daikincity@daikincomfort.com" />
    <add key="dpo.setup.superuser.password" value="test" />
    <add key="dpo.setup.documentservice.url" value="localhost:62801" />
    <add key="dpo.setup.document.location" value="..\DaikinDocuments\" />
    <add key="dpo.setup.customerdata.location" value="..\CustomerDataFiles\" />
    <add key="dpo.setup.daikincity.location" value="..\DaikinCityWeb\" />
    <add key="dpo.setup.services.location" value="C:\Services\" />
    <add key="dpo.setup.web.location" value="C:\Websites\DPO.Dev\" />

    <!--***  folder locations for "Auto-generated" Submittal Data Sheets and UNC qualified path to PIM Hot Folders  ***-->
    <add key="dpo.setup.submittaldatasheets.location" value="C:\Websites\DaikinDocuments\Submittal Data AutoGen\" />
    <!--<add key="dpo.sys.DPOWweb.build.version" value="1.0.0.21777" />-->
    <add key="dpo.sys.sftp.host" value="sftp.goodmanmfg.com" />
    <add key="dpo.sys.sftp.port" value="22" />
    <add key="dpo.sys.sftp.username" value="PIM-PROD-SYS-DaikinCity" />
    <add key="dpo.sys.sftp.password" value="j&gt;DH328-owS3%z" />

    
    <add key="dpo.sys.email.port" value="25" />
    <add key="dpo.sys.email.username" value="" />
    <add key="dpo.sys.email.password" value="" />
    <add key="dpo.sys.email.from" value="daikincity@daikincomfort.com" />

    <add key="dpo.sys.email.to" value="anand.dongol@daikincomfort.com" />
    <add key="dpo.sys.email.to.live" value="daikincity@daikincomfort.com" />
    
    <add key="dpo.sys.email.discountrequest" value="project.desk@daikincomfort.com" />
    <add key="dpo.sys.email.commissionrequest" value="project.desk@daikincomfort.com" />
    <add key="dpo.sys.email.host" value="mailgw.goodmanmfg.com" />
    <add key="dpo.sys.countries" value="us,ca" />
    <add key="dpo.sys.email.ssl" value="false" />
    
    <!--DaikinImport Web Service-->
    <add key="dpo.dev.team.email.development" value="anand.dongol@daikincomfort.com" />
    <add key="dpo.dev.team.email.staging" value="anand.dongol@daikincomfort.com" />
    <add key="dpo.dev.team.email.live" value="DaikinCity.Test@daikincomfort.com" />
    <add key="dpo.dev.team.email.live" value="anand.dongol@daikincomfort.com" />
    <add key="dpo.dev.team.email.live" value="Deepak.Mandloi@daikincomfort.com" />
    <add key="dpo.dev.team.email.live" value="Charles.Teel@daikincomfort.com" />

    <add key="dpo.sales.team.email.development" value="anand.dongol@daikincomfort.com" />
    <add key="dpo.sales.team.email.staging" value="anand.dongol@daikincomfort.com" />
    <add key="dpo.sales.team.email.live" value="sales.support@daikincomfort.com" />
    <add key="dpo.dev.team.email.live" value="Deepak.Mandloi@daikincomfort.com" />
    <add key="dpo.dev.team.email.live" value="Charles.Teel@daikincomfort.comm" />
    <add key="dpo.dev.team.email.live" value="anand.dongol@daikincomfort.com" />
    <!--end DaikinImport Web service-->
    
    <add key="dpo.sales.commission.negotiation.multiplier" value="0.369" />
    <add key="dpo.sales.commission.negotiation.totallist.threshold" value="100000" />
    <add key="dpo.sales.commission.competitive.multiplier" value="0.479" />
    <add key="dpo.sales.commission.competitive.totallist.threshold" value="20000" />
    <add key="dpo.sales.commission.buysell.total.threshold" value="50000" />
    <add key="dpo.sales.commission.default.multiplier" value="0.6" />
    <add key="dpo.sales.discount.approval.active.days" value="120" />
    <!--Daikin configuration END-->

    <add key="ClientSettingsProvider.ServiceUri" value="" />

    <!-- web api call to mapics -->
    <!--LIVE-->
    <!--<add key="CheckSubmittedOrdersStatus" value="http://www.daikincity.com/ExternalAPIs/ERP/iSeries/api/orderstatus/checkSubmittedOrdersStatus"/>
    <add key="CheckAwaitingCsrOrdersStatus" value="http://www.daikincity.com/ExternalAPIs/ERP/iSeries/api/orderstatus/checkAwaitingCsrOrdersStatus"/>
    <add key="CheckInProcessOrdersStatus" value="http://www.daikincity.com/ExternalAPIs/ERP/iSeries/api/orderstatus/checkInProcessOrdersStatus/"/>
    <add key="CheckPickedOrdersStatus" value="http://twww.daikincity.com/ExternalAPIs/ERP/iSeries/api/invoices/checkPickedOrdersStatus/"/>
    
    <add key="GetOrdersToUpdateInDC" value="http://www.daikincity.com/ExternalAPIs/ERP/iSeries/api/orders/"/>
    <add key="GetInvoicesToUpdateInDC" value="http://www.daikincity.com/ExternalAPIs/ERP/iSeries/api/invoices/"/>-->
    
    <!--STAGING-->
    <!-- <add key="CheckSubmittedOrdersStatus" value="http://tstsysdcity2/ExternalAPIs/ERP/iSeries/api/orderstatus/checkSubmittedOrdersStatus"/>
    <add key="CheckAwaitingCsrOrdersStatus" value="http://tstsysdcity2/ExternalAPIs/ERP/iSeries/api/orderstatus/checkAwaitingCsrOrdersStatus"/>
    <add key="CheckInProcessOrdersStatus" value="http://tstsysdcity2/ExternalAPIs/ERP/iSeries/api/orderstatus/checkInProcessOrdersStatus/"/>
    <add key="CheckPickedOrdersStatus" value="http://tstsysdcity2/ExternalAPIs/ERP/iSeries/api/invoices/checkPickedOrdersStatus/"/>
    
    <add key="GetOrdersToUpdateInDC" value="http://tstsysdcity2/ExternalAPIs/ERP/iSeries/api/orders/"/>
    <add key="GetInvoicesToUpdateInDC" value="http://tstsysdcity2/ExternalAPIs/ERP/iSeries/api/invoices/"/>-->

    <!--DEV-->
    <!--<add key="CheckSubmittedOrdersStatus" value="http://genappdev:8095/Services/iSeries/api/orderstatus/checkSubmittedOrdersStatus"/>
    <add key="CheckAwaitingCsrOrdersStatus" value="http://genappdev:8095/Services/iSeries/api/orderstatus/checkAwaitingCsrOrdersStatus"/>
    <add key="CheckInProcessOrdersStatus" value="http://genappdev:8095/Services/iSeries/api/orderstatus/checkInProcessOrdersStatus/"/>
    <add key="CheckPickedOrdersStatus" value="http://genappdev:8095/Services/iSeries/api/invoices/checkPickedOrdersStatus/"/>
    
    <add key="GetOrdersToUpdateInDC" value="http://genappdev:8095/Services/iSeries/api/orders/"/>
    <add key="GetInvoicesToUpdateInDC" value="http://genappdev:8095/Services/iSeries/api/invoices/"/>-->

    <!--LOCALHOST-->
    <add key="CheckSubmittedOrdersStatus" value="http://localhost:63596/iSeries/api/orderstatus/checkSubmittedOrdersStatus"/>
    <add key="CheckAwaitingCsrOrdersStatus" value="http://localhost:63596/iSeries/api/orderstatus/checkAwaitingCsrOrdersStatus"/>
    <add key="CheckInProcessOrdersStatus" value="http://localhost:63596/iSeries/api/orderstatus/checkInProcessOrdersStatus/"/>
    <add key="CheckPickedOrdersStatus" value="http://localhost:63596/iSeries/api/invoices/checkPickedOrdersStatus/"/>
    
    <add key="GetOrdersToUpdateInDC" value="http://localhost:63596/iSeries/api/orders/"/>
    <add key="GetInvoicesToUpdateInDC" value="http://localhost:63596/iSeries/api/invoices/"/>

    <!--AUTHENTICATION-->
    <add key="ERPusername" value="erpapi" />
    <add key="ERPpassword" value="api4erp" />
    
  </appSettings>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICRMService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288" receiveTimeout="00:10:00" sendTimeout="00:10:00" openTimeout="00:20:00">

          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="CRMTest" address="https://crmtestisv.goodmanmfg.com/Services/DPOServices/crmService.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_ICRMService" 
                contract="DaikinWebServices.ICrmService" />
      <!--<endpoint name="CRMLive" address="https://crmprodisv.goodmanmfg.com/Services/DPOServices/CrmService.svc" 
                binding="basicHttpBinding" 
                bindingConfiguration="BasicHttpBinding_ICRMService" 
                contract="DaikinWebServices.ICrmService" />-->
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <!-- add the execuation Timeout to increate the connection time to Crm Web service-->
    <!--<httpRuntime executionTimeout="00:10:00" />-->
    <httpRuntime executionTimeout="600" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>

  <system.diagnostics>
    <trace autoflush="true" indentsize="4">
      <listeners>
        <add name="ErrorsLog" type="System.Diagnostics.TextWriterTraceListener" initializeData="DPO.Services.log" />
        <remove name="Default" />
      </listeners>
    </trace>
  </system.diagnostics>

  <log4net>
    <appender name="SqlAppender" type="log4net.Appender.AdoNetAppender">
      <bufferSize value="1" />
      <connectionType value="System.Data.SqlClient.SqlConnection, System.Data, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <connectionString value="data source=TSTDCITYDB;uid=DaikinAdmin;pwd=Da1k1n20L4;Initial Catalog=dbDaikinProjectOfficeStaging;MultipleActiveResultSets=True;">
      </connectionString>

      <commandText value="INSERT INTO SystemLogs ([Date],[Level],[Logger],[Message],[Exception])                 VALUES (@logdate, @loglevel, @logger, @message, @exception)" />

      <parameter>
        <parameterName value="@logdate" />
        <dbType value="DateTime" />
        <layout type="log4net.Layout.RawTimeStampLayout" />
      </parameter>
      <parameter>
        <parameterName value="@loglevel" />
        <dbType value="String" />
        <size value="50" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%level" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@logger" />
        <dbType value="String" />
        <size value="255" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%logger" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@message" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%message" />
        </layout>
      </parameter>
      <parameter>
        <parameterName value="@exception" />
        <dbType value="String" />
        <size value="4000" />
        <layout type="log4net.Layout.ExceptionLayout" />
      </parameter>
    </appender>
    <appender name="AspTraceAppender" type="log4net.Appender.AspNetTraceAppender">
      <layout type="log4net.Layout.SimpleLayout"></layout>
    </appender>
    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <filter type="log4net.Filter.LevelMatchFilter">
        <levelToMatch value="ERROR"></levelToMatch>
        <acceptOnMatch value="true"></acceptOnMatch>
      </filter>
      <filter type="log4net.Filter.DenyAllFilter"></filter>
      <layout type="log4net.Layout.SimpleLayout"></layout>
    </appender>
    <appender name="trace" type="log4net.Appender.TraceAppender">
      <immediateFlush value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d{ABSOLUTE} %-5p %c{1}:%L - %m%n" />
      </layout>
    </appender>
    <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="logs\Logs.txt" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%-5p %d %5rms %-22.22c{1} %-18.18M - %m%n" />
      </layout>
    </appender>
    <appender name="ColoredFileAppender" type="log4net.Appender.RollingFileAppender">
      <file type="log4net.Util.PatternString" value="logs\logs_color.html" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="10" />
      <maximumFileSize value="5000KB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%CC" />
        <converter>
          <name value="CC" />
          <type value="DPO.Common.ColoredMessageConverter" />
        </converter>
      </layout>
    </appender>

    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
      <appender-ref ref="ConsoleAppender" />
      <appender-ref ref="ColoredFileAppender" />
      <appender-ref ref="trace" />
    </root>
  </log4net>

</configuration>