@model ProductModel
@{
    Layout = null;
}
<div class="row row-nomargin">
    <div class="list-header-grey">Performance</div>
    @Html.Partial("ProductPartial/Submittal_Template_Outdoor_Performance")
</div>

<div class="row row-nomargin">
    <div class="list-header-grey">Outdoor Unit Details</div>
    @Html.Partial("ProductPartial/Submittal_Template_Outdoor_UnitDetails")
</div>


