@model WidgetContainerModel
<li data-templateid="@Model.Widget.TemplateId" data-widgettype="Overview.GraphOverviewWidget" data-renderer="Overview.BarAndLineWidgetRenderer">
    <div class="widget-body">
        @Html.Partial("OverviewWidgetTitle")
        @Html.Partial("OverviewWidgetSettings")
        @Html.Partial("OverviewWidgetErrorScreen")
        <div class="chart-content">

        </div>
    </div>
</li>