@model WidgetContainerModel
<div class="title">
    <button type="button" class="pull-right" id="btn-settings">
        <img src="/Images/product-overview-settings-icons.png" alt="Settings">
    </button>
    <button type="button" class="pull-right" id="btn-expand">
        <img src="~/Images/full-screen-icon.png" alt="Full Screen" />
    </button>
    <span>@Model.Widget.Title</span>
    <span class="js-count"></span>
</div>
