@model WidgetContainerModel
<div class="contentbox-error c-align">
    <img src="~/Images/modal-close-btn.png" class="c-align"/>
    <p class="c-align">Unable to get data for<br/>@Model.Widget.Title</p>
</div>
