@model List<ProductModel>

    <table class="tbl grey">
        <tbody>
            @if (Model.Count == 0)
            {
                <tr style="border-bottom: 1px solid #A6D7EF;">
                    <td>
                        No Related Accessories
                    </td>
                </tr>
            }
            else
            {
                foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <a href="@Url.Action("Product", new { ProductId = item.ProductId })">
                                @item.Name
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
