<div id="registration-acknowledgement" class='container-fluid dk-blue-background'>
    <div class="main-content">
        <div class="main-form">
            <h4>
                THANK YOU FOR REGISTERING TO DAIKIN CITY
            </h4>
            <!--<p>Please click the button below to get started</p>
            <a href="/v2/#/account/login" class="btn btn-primary">Get Started</a>-->
            <p>Your account admin (and Daikin) have received your account profile information, and will be processed within 2 business days.</p>
            <p>You will be notified via email once the registration is processed. Please contact your account admin for more details.</p>
            <p>Click the button below to go to Daikin City Home.</p>
            <a href="/" class="btn btn-primary"><span class="glyphicon glyphicon-home"></span> Home</a>
        </div>
    </div>
</div>
