@model DPO.Web.Areas.Apps.Models.TradeShowVM

@{
    ViewBag.Title = "Confirmation";
}

<style type="text/css">
    #body {
        font-family: "museo-sans", sans-serif;
        background-color: #00A1E4;
        height: 150px;
        position: relative;
        margin-top: -7px;
    }

    div a, div h4, div p {
        color: white;
    }

    div h4 {
        padding-top: 30px;
        margin-left: 10px;
    }

    div p {
        margin-left: 10px;
        padding-bottom: 20px;
    }

    p {
        color: black;
    }

    footer p {
        color: black;
    }
</style>
<div id="body">

    <h4>Confirmation Page</h4>
    <p>
        Thank you for submitting the Tradeshow Borrowing Program order form.
        You will receive a confirmation email within the hour with the details of your order and additional details.
        If you have any immediate questions, please email Kristin Hatteberg at
        <a target="_blank" href="mailto:kristin.hatteberg@daikincomfort.com">kristin.hatteberg@daikincomfort.com</a>
        or <a target="_blank" href="mailto:Tiffany.Carpenter@daikincomfort.com">Tiffany.Carpenter@daikincomfort.com</a>
    </p>

</div>
<div style="position: absolute; background-color: #00A1E4; height: 10px; width: 100%">
</div>

