<!--This view is not used. Delete after 01/06/2017-->
<div class="dk-list-header">TECHNICAL SPECIFICATIONS</div>
<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Additional Refrigerant Charge</span> <span class="pull-right">{{specs['additionalRefrigerantCharge']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Heating COP (Non-Ducted)</span> <span class="pull-right">{{specs['coP47Nonducted']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Condensate Drain Outlet (in)</span> <span class="pull-right">{{specs['condensateDrainOutlet']?.value}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Cooling Capacity Max</span> <span class="pull-right">{{specs['coolingCapacityMax']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Cooling Capacity Min</span> <span class="pull-right">{{specs['coolingCapacityMin']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Cooling Capacity Rated</span> <span class="pull-right">{{specs['coolingCapacityRated']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Cooling Capacity Sensible</span> <span class="pull-right">{{specs['coolingCapacitySensible']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Cooling Input Power</span> <span class="pull-right">{{specs['coolingInputPower']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Cooling Operation Range StdMax</span> <span class="pull-right">{{specs['coolingOperationRangeStdMax']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Cooling Operation Range StdMin</span> <span class="pull-right">{{specs['coolingOperationRangeStdMin']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Cooling Operation Range wBaffleMax</span> <span class="pull-right">{{specs['coolingOperationRangewBaffleMax']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">CoolingOperationRangewBaffleMin</span> <span class="pull-right">{{specs['coolingOperationRangewBaffleMin']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">EER Nonducted</span> <span class="pull-right">{{specs['eerNonducted']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Factory Std Refrigerant Charge</span> <span class="pull-right">{{(specs['factoryStdRefrigerantChargeText'] ? specs['factoryStdRefrigerantChargeText']?.value : specs['factoryStdRefrigerantCharge']?.value)  | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Fuse Size</span> <span class="pull-right">{{specs['fuseSize']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">HSPF Nonducted</span> <span class="pull-right">{{specs['hspfNonducted']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Heating Capacity Max</span> <span class="pull-right">{{specs['heatingCapacityMax']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Heating Capacity Min</span> <span class="pull-right">{{specs['heatingCapacityMin']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Heating Capacity Rated</span> <span class="pull-right">{{specs['heatingCapacityRated']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Heating Input Power</span> <span class="pull-right">{{specs['heatingInputPower']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Heating Operation Range Std Max</span> <span class="pull-right">{{specs['heatingOperationRangeStdMax']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Heating Operation Range Std Min</span> <span class="pull-right">{{specs['heatingOperationRangeStdMin']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Heating Operation Range wBaffle Max</span> <span class="pull-right">{{specs['heatingOperationRangewBaffleMax']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Heating Operation Range wBaffle Min</span> <span class="pull-right">{{specs['heatingOperationRangewBaffleMin']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">InERP</span> <span class="pull-right">{{specs['inerp']?.value}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Inter Connecting Wires</span> <span class="pull-right">{{specs['interConnectingWires']?.value }}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Max External Static Pressure</span> <span class="pull-right">{{specs['maxExternalStaticPressure']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Max Indoor to Indoor Piping</span> <span class="pull-right">{{specs['maxIndoortoIndoorPiping']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Max Overcurrent Protection</span> <span class="pull-right">{{(specs['maxOvercurrentProtectionText']? specs['maxOvercurrentProtectionText']?.value: specs['maxOvercurrentProtection']?.value)  | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Max Pipe Length Total</span> <span class="pull-right">{{specs['maxPipeLengthTotal']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Min Circuit Amps</span> <span class="pull-right">{{(specs['minCircuitAmpsText']? specs['minCircuitAmpsText']?.value : specs['minCircuitAmps']?.value)  | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Moisture Removal Rate</span> <span class="pull-right">{{specs['moistureRemovalRate']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Pipe Size - Gas</span> <span class="pull-right">{{specs['pipeSizeGas']?.value}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">PipeSize - Liquid</span> <span class="pull-right">{{specs['pipeSizeLiquid']?.value}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Power Frequency</span> <span class="pull-right">{{specs['powerFrequency']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Power Phase</span> <span class="pull-right">{{specs['powerPhase']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Power Voltage</span> <span class="pull-right">{{specs['powerVoltage']?.value}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated Cooling Condition AmbientDB</span> <span class="pull-right">{{specs['ratedCoolingConditionAmbientDB']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated Cooling Condition AmbientWB</span> <span class="pull-right">{{specs['ratedCoolingConditionAmbientWB']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated Cooling Condition RoomDB</span> <span class="pull-right">{{specs['ratedCoolingConditionRoomDB']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated Cooling Condition RoomWB</span> <span class="pull-right">{{specs['ratedCoolingConditionRoomWB']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated External Static Pressure</span> <span class="pull-right">{{specs['ratedExternalStaticPressure']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated Heating Condition AmbientDB</span> <span class="pull-right">{{specs['ratedHeatingConditionAmbientDB']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated Heating Condition AmbientWB</span> <span class="pull-right">{{specs['ratedHeatingConditionAmbientWB']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated Heating Condition RoomDB</span> <span class="pull-right">{{specs['ratedHeatingConditionRoomDB']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated Heating Condition RoomWB</span> <span class="pull-right">{{specs['ratedHeatingConditionRoomWB']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated Height Difference</span> <span class="pull-right">{{specs['ratedHeightDifference']?.value | number:'1.2-2'}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Rated Load Amps</span> <span class="pull-right">{{(specs['ratedLoadAmpsText'] ? specs['ratedLoadAmpsText']?.value : specs['ratedLoadAmps']?.value) | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Refrigerant Type</span> <span class="pull-right">{{specs['refrigerantType']?.value}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">SEER Nonducted</span> <span class="pull-right">{{specs['seerNonducted']?.value | number:'1.2-2'}}</span>
    </div>
</div>


<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Short Name</span> <span class="pull-right">{{specs['shortName']?.value}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Sound Pressure - High</span> <span class="pull-right">{{specs['soundPressureHigh']?.value | number:'1.2-2'}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Unit Installation Type</span> <span class="pull-right">{{product.productCategoryName}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left"> Weight - Net</span> <span class="pull-right">{{(specs['weightNetText'] ? specs['weightNetText']?.value : specs['weightNet']?.value) | number:'1.2-2'}}</span>
    </div>
</div>

