<div class="dk-list-header">TECHNICAL SPECIFICATIONS</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">InERP</span> <span class="pull-right">{{specs['inerp']?.value}}</span>
    </div>
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Product Class Name</span> <span class="pull-right">{{specs['productClassName']?.value}}</span>
    </div>
</div>

<div class="row row-nomargin dk-list-row">
    <div class="col col-md-6 col-xs-12">
        <span class="pull-left">Short Name</span> <span class="pull-right">{{specs['shortName']?.value}}</span>
    </div>
</div>