<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICrmService" />
        <binding name="BasicHttpBinding_IDataQualityService" />
        <binding name="CFG001RSoap11Binding" />
      </basicHttpBinding>
      <customBinding>
        <binding name="CFG001RSoap12Binding">
          <textMessageEncoding messageVersion="Soap12" />
          <httpTransport />
        </binding>
      </customBinding>
      <wsHttpBinding>
        <binding name="WSHttpBinding_IDataQualityService" />
      </wsHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://warranty.goodmanmfg.com/Services/DataQualityServices/DataQualityService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IDataQualityService"
        contract="DataQualityService.IDataQualityService" name="BasicHttpBinding_IDataQualityService" />
      <endpoint address="http://warranty.goodmanmfg.com/Services/DataQualityServices/DataQualityService.svc/wshttp"
        binding="wsHttpBinding" bindingConfiguration="WSHttpBinding_IDataQualityService"
        contract="DataQualityService.IDataQualityService" name="WSHttpBinding_IDataQualityService">
        <identity>
          <servicePrincipalName value="host/gmcwar2hou" />
        </identity>
      </endpoint>
      <endpoint address="https://crmtestisv.goodmanmfg.com/Services/DPOServices/crmService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICrmService"
        contract="DaikinWebServices.ICrmService" name="BasicHttpBinding_ICrmService" />
      <endpoint address="http://TESTDEV.GOODMANMFG.COM:10057/web/services/CFG001R.CFG001RHttpSoap11Endpoint/"
        binding="basicHttpBinding" bindingConfiguration="CFG001RSoap11Binding"
        contract="MapicsOrderService.CFG001RPortType" name="CFG001RHttpSoap11Endpoint" />
      <endpoint address="http://TESTDEV.GOODMANMFG.COM:10057/web/services/CFG001R.CFG001RHttpSoap12Endpoint/"
        binding="customBinding" bindingConfiguration="CFG001RSoap12Binding"
        contract="MapicsOrderService.CFG001RPortType" name="CFG001RHttpSoap12Endpoint" />
    </client>
  </system.serviceModel>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>