<div class="modal confirm" id="library_directory_modal" style="display: none;">
    <div style="top: 10%;">
        <img src="~/Images/modal-close-btn.png" class="close-btn" />
        <h1>Edit Directory</h1>
        <br />
        <form id="library_directory_edit_form" class="details-list">
            <input type="hidden" id="library_directory_edit_id"/>
            <input type="hidden" id="library_directory_parent_id" />
            <label>Directory Name</label>
            <input type="text" id="directory_name_toedit">
            <br />
            <div>
                <br />
                <a class="btn cancel-btn" href="#">Cancel</a>
                <a class="submit-btn" id="library_directory_modal_add_btn" href="#">Add</a>
            </div>

        </form>
    </div>
</div>

