<div class="modal confirm" id="library_document_modal" style="display: none;">
    <div style="top: 10%;">
        <img src="~/Images/modal-close-btn.png" class="close-btn" />
        <div id="document_modal_content">

        </div>
    </div>
</div>
