<div class="modal confirm" id="library_move_directory_modal" style="display: none; margin-top: 0;">
    <div>
        <img src="~/Images/modal-close-btn.png" class="close-btn" />
        <h1>Move Directory</h1>
        <br />
        <input type="hidden" id="moving_directory_id" />
        <div class="tbl-holder" id="move_directory_listing" style="overflow-y: auto; max-height: 400px; padding-top: 0;">
        </div>
        <div>
            <br />
            <a class="btn cancel-btn" href="#">Cancel</a>
            <a class="submit-btn" id="library_directory_modal_move_btn" href="#">Move</a>
        </div>
    </div>
</div>
