<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    
  <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="local" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=crmtest11sql;initial catalog=dbDaikinProjectOfficeTest;user id=DaikinAdmin;password=Da1k1n20L4;App=EntityFramework&quot;" providerName="using System.Data.Entity.Core.EntityClient;" />
    <add name="development" connectionString="metadata=res://*/Context.DPOContext.csdl|res://*/Context.DPOContext.ssdl|res://*/Context.DPOContext.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DELPHIN2;initial catalog=dbDaikinProjectOfficeTest;App=EntityFramework&quot;" providerName="using System.Data.Entity.Core.EntityClient;" />
  </connectionStrings>
  <appSettings>

    <!--Daikin configuration START-->
    <add key="dpo.sys.domain" value="local" />
    <add key="dpo.sys.data.cache.secs" value="5" />
    <add key="dpo.sys.data.cache.secs.staging" value="5" />
    <add key="dpo.sys.data.cache.secs.live" value="15" />
    <add key="dpo.sys.data.import.daysfromtoday" value="0" />
    <add key="dpo.setup.company.name" value="Daikin Industries" />
    <add key="dpo.setup.company.accountid" value="A111198" />
    <add key="dpo.setup.toplevel.groupid" value="100" />
    <add key="dpo.webservices.toplevel.groupname" value="gmccrm1" />
    <add key="dpo.webservices.endpoint" value="CRMLive" />
    <add key="dpo.webservices.endpoint.live" value="CRMLive" />
    <add key="dpo.setup.superuser.username" value="daikinsuperuser@somewhere.com" />
    <add key="dpo.setup.superuser.username.staging" value="daikincity@daikincomfort.com" />
    <add key="dpo.setup.superuser.username.live" value="daikincity@daikincomfort.com" />

    <add key="dpo.setup.superuser.password" value="test" />
    
    <add key="dpo.setup.documentservice.url" value="localhost:8000" />
    <add key="dpo.setup.documentservice.url.development" value="localhost:8000" />
    <add key="dpo.setup.documentservice.url.QA" value="localhost" />
    <add key="dpo.setup.documentservice.url.staging" value="localhost" />
    <add key="dpo.setup.documentservice.url.live" value="localhost" />
    
    <add key="dpo.setup.document.location" value="..\DaikinDocuments\" />
    <add key="dpo.setup.customerdata.location" value="..\CustomerDataFiles\" />
    <add key="dpo.setup.daikincity.location" value="..\DaikinCityWeb\" />
    <add key="dpo.setup.services.location" value="D:\Workspace\Daikin Project Office\DPO.Services\" />
    <add key="dpo.setup.services.location.development" value="C:\Users\Sam\Source\Repos\Daikin Project Office\DPO.Services\" />
    <add key="dpo.setup.services.location.QA" value="c:\DPO.Services\" />
    <add key="dpo.setup.services.location.staging" value="c:\Services\" />
    <add key="dpo.setup.services.location.live" value="c:\Services\" />
    <add key="dpo.setup.web.location" value="C:\Websites\DPO.Web\" />
    <add key="dpo.setup.web.location.development" value="C:\Users\Sam\Source\Repos\Daikin Project Office\DPO.Web\DPO.Web\" />
    <add key="dpo.setup.web.location.QA" value="C:\Websites\DaikinQA\" />
    <add key="dpo.setup.web.location.staging" value="C:\Websites\DPO.Web\" />
    <add key="dpo.setup.web.location.live" value="C:\Websites\DPO.Web\" />
    <add key="dpo.sys.email.port" value="25" />
    <add key="dpo.sys.email.username" value="" />
    <add key="dpo.sys.email.password" value="" />

    <add key="dpo.sys.email.from" value="NoReply@daikincomfort.com" />
    <add key="dpo.sys.email.from.staging" value="Deepak.Mandloi@daikincomfort.com" />
    <add key="dpo.sys.email.from.live" value="daikincity@daikincomfort.com" />

    <add key="dpo.sys.email.discountrequest" value="ITCRMTeam@goodmanmfg.com" />
    <add key="dpo.sys.email.discountrequest.staging" value="project.desk@daikincomfort.com" />
    <add key="dpo.sys.email.discountrequest.live" value="project.desk@daikincomfort.com" />

    <add key="dpo.sys.email.host" value="mailgw.goodmanmfg.com" />
    <add key="dpo.sys.email.host.staging" value="mailgw.goodmanmfg.com" />
    <add key="dpo.sys.email.host.live" value="mailgw.goodmanmfg.com" />
    <add key="dpo.sys.email.username.staging" value="" />
    <add key="dpo.sys.email.username.live" value="" />
    <add key="dpo.sys.email.password.staging" value="" />
    <add key="dpo.sys.email.password.live" value="" />
    <add key="dpo.sys.countries" value="us,ca" />

    <add key="dpo.sales.team.email" value="ITCRMTeam@goodmanmfg.com" />
    <add key="dpo.sales.team.email.staging" value="sales.support@daikincomfort.com" />
    <add key="dpo.sales.team.email.live" value="sales.support@daikincomfort.com" />

    <add key="dpo.sales.commission.negotiation.multiplier" value="0.369" />
    <add key="dpo.sales.commission.negotiation.totallist.threshold" value="100000" />
    <add key="dpo.sales.commission.competitive.multiplier" value="0.479" />
    <add key="dpo.sales.commission.competitive.totallist.threshold" value="20000" />
    <add key="dpo.sales.commission.buysell.total.threshold" value="50000" />
    <add key="dpo.sales.commission.default.multiplier" value="0.6" />
    <add key="dpo.sales.discount.approval.active.days" value="120" />
    <!--Daikin configuration END-->
    
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Moq" publicKeyToken="69f491c39445e920" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.2.1312.1622" newVersion="4.2.1312.1622" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Common.Logging" publicKeyToken="af08829b84f0328e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.0.0" newVersion="2.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Configuration" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-7.0.0.0" newVersion="7.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Services" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Transactions" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="MiniProfiler" publicKeyToken="b44f9351044011a3" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.2.0.157" newVersion="3.2.0.157" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="EntityFramework" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_ICRMService" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647" maxBufferPoolSize="524288">
          <readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
          <security mode="Transport" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint name="CRMTest" address="https://crmtestisv.goodmanmfg.com/Services/DPOServices/CrmService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRMService" contract="DaikinWebServices.ICrmService" />
      <endpoint name="CRMLive" address="https://crmprodisv.goodmanmfg.com/Services/DPOServices/CrmService.svc" binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_ICRMService" contract="DaikinWebServices.ICrmService" />
    </client>
  </system.serviceModel>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>