<div class="row" style="margin-bottom:10px">
    <div id="dk-products" class="row">
        <kendo-grid [data]="products">
            <kendo-grid-column field="name">
                <template kendoHeaderTemplate let-column let-columnIndex="columnIndex">
                    {{column.field}}({{columnIndex}})
                </template>
            </kendo-grid-column>
            <kendo-grid-column field="price">
                <template kendoHeaderTemplate let-column let-columnIndex="columnIndex">
                    {{column.field}}({{columnIndex}})
                </template>
            </kendo-grid-column>
        </kendo-grid>
    </div>
</div>
 

