@{
    var display = (string.IsNullOrWhiteSpace(Model)) ? "none" : "";
}
<div class="modal confirm" id="confirmtransfer_modal" style="display: @display;">
    <div style="top: 20%;">
        <img src="~/Images/modal-close-btn.png" class="close-btn" />
        <h1></h1>
            @Html.Label("Email", ResourceUI.Email, new { @class = "required" })
            @Html.TextBox("Email", "", new { @class = "full" })
            <span class='input-validation-error'></span>
        <p></p>
        <button class="btn" id="confirm_modal_yes">@ResourceUI.Yes</button>
        <button class="btn cancel-btn">@ResourceUI.No</button>
    </div>
</div>
