<div class="modal confirm" id="confirm_modal" style="display: none; background-color:white;">
    <div style="top: 20%;">
        <img src="~/Images/modal-close-btn.png" class="close-btn" />
        <h1></h1>
        <p></p>
        <button class="btn" id="confirm_modal_yes">@ResourceUI.Yes</button>
        <button class="btn cancel-btn">@ResourceUI.No</button>
    </div>
</div>